<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <p class="offcanvas-title fs-5" id="offcanvasExampleLabel">Shop</p>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <p class="fs-3">Gold: {{gold}}</p>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <button (click)="buyPotion()" class="btn btn-primary me-2" [disabled]="gold < 50">Buy</button>
      <span>Potion <i class="mdi mdi-beaker-plus"></i></span>
      <span>$50</span>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <button (click)="buyRevive()" class="btn btn-primary me-2" [disabled]="gold < 100 || nobodyIsDead">Buy</button>
      <span>Revive <i class="mdi mdi-feather text-info"></i></span>
      <span>$100</span>
    </div>



    <div *ngFor="let hero of heroes" class="d-flex justify-content-between align-items-center mb-3">
      <button (click)="buyHero(hero)" class="btn btn-primary me-2" [disabled]="gold < hero.price">Buy</button>
      <span>{{hero.name | titlecase}} <i class="mdi mdi-sword"></i></span>
      <span>${{hero.price}}</span>
    </div>


  </div>
</div>